@charset "UTF-8";

	

input{
	border: 1px solid gray;	
}

.join_main{
	display: flex;
	justify-content: center;
	align-items: center;
}

.join_main img{
	width: 500px;
	height: 300px;
	margin-bottom: -60px;
}


.form-group{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	margin: 2em 0;
}

.form-group:nth-child(2){
	margin-top: -20px;
}

/* 패스워드 및 이메일만 따로 조정하기 */
#member_pwd1{
	width: 514px;
	border: 1px solid #cdcdcd;
}

#member_pwd2{
	width:514px;
	border: 1px solid #cdcdcd;
}

#member_email{
	width:514px;
	border: 1px solid #cdcdcd;
}

.main-text{
	display:flex;
	flex-direction:row;
	position:relative;
	right: 180px;
	margin-bottom: 15px;
	font-size:15px;
	font-weight: bold;
	width: 150px;
}


.form-group input{
	width: 500px;
	height: 40px;
	border-radius: 3px;
	padding-left: 10px;
}

.reg_button{
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	margin-left: 50px;
	margin-bottom: 50px;
}

.reg_button > button{
	margin-right: 50px;
	width: 120px;
	height: 50px;
	border-style: none;
	border-radius: 5px;
	background: #558BCF;
	cursor: pointer;
}

.reg_button > button i{
	padding: 10px;
	color:white;
	font-weight: bold;
	font-size: 16px;
}

.reg_button a{
	width: 120px;
	height: 50px;
	text-decoration: none;
	border-style:none;
	border-radius: 5px;
	background: #F05650;
}

.reg_button > a i{
	display:flex;
	justify-content:center;
	align-items:center;
	height: 50px;
	color:white;
	font-weight: bold;
	font-size: 16px;
}

/* 라디오버튼 커스텀 */

#radio_box{
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 10px 5px;
	width: 500px;
}

.form_radio_btn {
	width: 47%;
	height : 45px;
	border: 1px solid #EAE7E7;
	border-radius: 10px;
	margin-left: 20px;
}
.form_radio_btn input[type=radio] {
		display: none;
}
.form_radio_btn label {
		display: block;
  		border-radius: 10px;
 		margin: 0 auto;
  		text-align: center;
  		height: -webkit-fill-available;
  		line-height: 45px;
  		
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #184DA0;
	color: #fff;
}
 
/* Hover */
.form_radio_btn label:hover {
	color: #666;
}
 
/* Disabled */
.form_radio_btn input[type=radio] + label {
	background: #F9FAFC;
	color: #666;
}


/* 주소 커스텀 */
.search_addr{
	width: 500px;
	height: 50px;
	border-style: none;
	border-radius: 3px;
	background: gold;
	color: rgb(0,0,0, 0.8);
	font-weight: bold;
	padding: 15px;
	word-spacing: 5px;
	margin: 20px 0px;
	cursor: pointer;
}

/* 버튼정리 */
#btn_userId{
	position: relative; 
	bottom: 45px;
	left: 340px;
	width: 120px;
	height: 44px;
	font-size: 14px;
	line-height: 40px;
	border-radius: 3px;
	outline: none;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
	border: 1px solid blue;
	background: white;
	color: blue;	
	font-weight: bold;
}

#btn_userEmail{
	position: relative; 
	bottom: 45px;
	left: 340px;
	width: 120px;
	height: 44px;
	font-size: 14px;
	border-radius: 3px;
	outline: none;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
	border: 1px solid blue;
	background: white;
	color: blue;	
	font-weight: bold;
}

#btn_userPhone{
	position: relative; 
	bottom: 45px;
	left: 340px;
	width: 120px;
	height: 44px;
	font-size: 14px;
	border-radius: 3px;
	outline: none;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
	border: 1px solid blue;
	background: white;
	color: blue;	
	font-weight: bold;
}


.text_box1{
	width: 500px;
	display: flex;
	flex-direction: column;
	margin-top: -30px;
	justify-content: flex-start;
	font-size: 12px;
	z-index: 1;
	margin-bottom: 20px;
}

.text_box2, .text_box3{
	width: 500px;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 12px;
	margin-top: 10px;
}


